# Ignorar o ambiente virtual do Python
venv/

# Ignorar arquivos temporários do sistema operacional
*.DS_Store
Thumbs.db

# Ignorar pastas de cache do Python (só por precaução)
__pycache__/
*.py[cod]
*$py.class

# Ignorar configurações específicas do VSCode (opcional)
.vscode/
Dados/

/videos/
/Folhetos_e_pecas/Facebook/Reels/
/Folhetos_e_pecas/Facebook/Horizontal/
/S_deposito/
*.mp4
*.mov
*.mp3
*.wav

/Folhetos_e_pecas/
*.zip